
.place1 {
    color: mediumaquamarine;
}


.place2 {
    color: green;
}




.firstButton {
    background-color: aqua;
    color: navy;
}


.secondButton {
    background-color: greenyellow;
    color: brown;
}