
body {
    background-color: rgb(219, 186, 250);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.title {
    font-family: fantasy;
}

.listenBtn {
    font-family: fantasy;
    cursor: pointer;
    padding: 8px 20px;
    background-color: rgb(180, 116, 240);
}


.messageContainer {
    background-color: white;
    padding: 30px;
    margin-top: 50px;
    width: 50%;
}


.computerPara {
    text-align: right;
}

