

.container {
    background-color: bisque;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
}



.listenBtn {
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 8px 20px;
    font-family: fantasy;
}


