*{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.back {
    margin-left: 40px;
    margin-top: 30px;
  background: #f5f5f5;
  padding: 20px;
  width: 140px;
  border-radius: 10px;
  transition: 0.3s;
}

.back:hover {
  background: rgb(42, 104, 40);
  color: white;
  transform: translateY(-5px);
}

.ques{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
