


.box {
    width: 30%;
}



.box img {
    width: 100%;
    margin-bottom: 7px;
    border-radius: 10px;
}


.gallery {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
}



